@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap');


@media screen and (min-width:780px) {
  .shop-item{
    display: inline-block;
    width: 40%;
    padding: 20px;
    margin: 20px 0;
  }
  h2{
    font-size: 40px;
  }

}
@media screen and (max-width:780px) {
  .shop-item{
    padding: 20px;
    margin: 20px 0;
  }
  .br::before {
    content: "\A" ;
    white-space: pre ;
  }
  h2{
    font-size: 30px;
  }
}

*{
  margin: 0;
  padding: 0;
  text-align: center;
}

body{
  width: 100%;
  min-width: 610px; 
  margin-left: auto;
  margin-right: auto;
  -webkit-text-size-adjust: 100%;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: #FFFAF0;
}
h1{
  text-align: center;
  color: orange;
  font-size: 70px;
}


h2{
  color: orange;
  text-align: center;
  margin-top: 30px;
  white-space: nowrap;
}
h3{
  font-size: 50px;
  color: orange;
  text-align: center;
  white-space: nowrap;
}
h4{
  font-size: 35px;
  color: orange;
  text-align: center;
  white-space: nowrap;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
  border-radius: 20%;
  max-width: 400px;
  min-width: 300px;
}

.interval{
  margin: 30px;
}

.item-name{
  font-size: 40px;
  color: rgb(253, 212, 136);
  margin: 20px 0;
  
}
/* .shop-item{
  display: inline-block;
  width: 40%;
  padding: 20px;
  margin: 20px 0;
} */

footer{
  text-align: center;
  color: orange;
  height: 120px;
  background-color: rgba(241, 162, 44, 0.562);
}
footer h3{
  font-size: 40px;
}
footer p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}
